<main ng-controller="DriveCtrl">
    <header class="pure-g" ng-include="'/resources/partials/header.html'"></header>
    <div class="w-container">
        <tt-error-messages></tt-error-messages>
        <tt-success-messages></tt-success-messages>
        <div class="w-form">
            <form novalidate id="add-drive-form" name="form" class="pure-form login-form" role="form" ng-submit="addDrive()" autocomplete="off">
                <fieldset class="pure-group">
                    <div class="edit-profile-heading">
                        <h2>{{ 'add-ride.offer-ride' | translate }}</h2>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-12">
                            <div class="form-group" show-errors>
                                <label class="control-label">{{ 'add-ride.title' | translate }}</label>
                                <input id="title" type="text" ng-model="ride.title" name="title" class="form-control" translate translate-attr-placeholder="add-ride.example-title" placeholder="Piemērs: Brauciens no Rīgas uz Daugavpili" required/>
                                <p class="help-block" ng-if="form.title.$error.required">{{ 'add-ride.type-in-title' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label class="control-label">{{ 'add-ride.from' | translate }}</label>
                                <input name="driveFrom" type="text" id="driveFrom" class="form-control" placeholder="Rīga" ng-model="ride.driveFrom"
                                       uib-typeahead="address for address in getLocation($viewValue)" typeahead-editable='false' required>
                                <p class="help-block" ng-if="form.driveFrom.$error.required">{{ 'add-ride.type-in-existing-locality' | translate }}</p>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group">
                                <label for="fromAddress" class="control-label">{{ 'add-ride.address' | translate }}</label>
                                <input id="fromAddress" type="text" ng-model="ride.fromAddress" name="fromAddress" class="form-control"
                                       translate translate-attr-placeholder="add-ride.example-address-from" placeholder="Piemērs: Dzelzavas iela 28">
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label for="driveTo" class="control-label">{{ 'add-ride.to' | translate }}</label>
                                <input name="driveTo" type="text" id="driveTo" class="form-control" placeholder="Daugavpils" ng-model="ride.driveTo"
                                       uib-typeahead="address for address in getLocation($viewValue)" typeahead-editable='false' required>
                                <p class="help-block" ng-if="form.driveTo.$error.required">{{ 'add-ride.type-in-existing-locality' | translate }}</p>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group">
                                <label for="toAddress" class="control-label">{{ 'add-ride.address' | translate }}</label>
                                <input id="toAddress" type="text" ng-model="ride.toAddress" name="toAddress" class="form-control"
                                       translate translate-attr-placeholder="add-ride.example-address-to" placeholder="Piemērs: Smilšu iela 14">
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label for="departureDate" class="control-label ">{{ 'add-ride.departure' | translate }}</label>
                                <div class='input-group date' id='departureDateDiv'>
                                    <input id="departureDate" name="departureDateString" type='text' class="form-control" ng-model="ride.departureDateString" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <p class="help-block" ng-if="form.departureDateString.$error.required">{{ 'add-ride.date-is-mandatory' | translate }}</p>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <label for="departureTime" class="control-label "></label>
                            <div uib-timepicker id="departureTime" ng-model="ride.departureTime" hour-step="1" minute-step="15" show-meridian="false" place></div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label for="arrivalDate" class="control-label ">{{ 'add-ride.arrival' | translate }}</label>
                                <div class='input-group date' id='arrivalDateDiv'>
                                    <input id="arrivalDate" name="arrivalDateString" type='text' class="form-control" ng-model="ride.arrivalDateString" required />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                                <p class="help-block" ng-if="form.arrivalDateString.$error.required">{{ 'add-ride.date-is-mandatory' | translate }}</p>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <label for="arrivalTime" class="control-label "></label>
                            <div uib-timepicker data-placeholder="adasdsd" id="arrivalTime" ng-model="ride.arrivalTime" hour-step="1" minute-step="15" show-meridian="false" place></div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-12">
                            <label for="comments" class="control-label ">{{ 'add-ride.comment' | translate }}</label>
                            <div class="form-group">
                                    <textarea id="comments" ng-focus="focus('text')" ng-blur="blur('text')" ng-model="ride.text" name="text" class="form-control"
                                              translate translate-attr-placeholder="add-ride.example-comment"placeholder="Piemērs: Mašīnā nedrīkst smēķēt."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label for="price" class="control-label">{{ 'add-ride.price' | translate }}</label>
                                <div class='input-group'>
                                    <input id="price" type="number" ng-model="ride.price" name="price" class="form-control"
                                           translate translate-attr-placeholder="add-ride.example-price" placeholder="Piemērs: 10" required />
                                    <span class="input-group-addon" id="price-span">€</span>
                                </div>
                                <p class="help-block" ng-if="form.price.$error.required">{{ 'add-ride.type-in-price' | translate }}</p>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label for="phone" class="control-label ">{{ 'add-ride.phone' | translate }}</label>
                                <input id="phone" type="text" ng-model="ride.phone" name="phone" class="form-control"
                                       translate translate-attr-placeholder="add-ride.example-phone" placeholder="Piemērs: 2 1234567" required />
                                <p class="help-block" ng-if="form.phone.$error.required">{{ 'add-ride.phone-is-mandatory' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group">
                                <label for="car" class="control-label ">{{ 'add-ride.car' | translate }}</label>
                                <input id="car" type="text" ng-model="ride.car" name="placesLeft" class="form-control"
                                       translate translate-attr-placeholder="add-ride.example-car" placeholder="Piemērs: Audi A4" />
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label for="carRegNumber" class="control-label ">{{ 'add-ride.car-reg-number' | translate }}</label>
                                <input id="carRegNumber" type="text" ng-model="ride.carRegNumber" name="carRegNumber" class="form-control"
                                       translate translate-attr-placeholder="add-ride.example-car-reg-number" placeholder="Piemērs: AB-1234" required />
                                <p class="help-block" ng-if="form.carRegNumber.$error.required">{{ 'add-ride.type-in-car-reg-number' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group">
                                <label for="placesLeft" class="control-label ">{{ 'add-ride.free-places' | translate }}</label>
                                <input id="placesLeft" type="number" ng-model="ride.placesLeft" name="placesLeft" class="form-control"
                                       translate translate-attr-placeholder="add-ride.example-free-places" placeholder="Piemērs: 3" />
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group">
                                <label for="placesOverall" class="control-label">{{ 'add-ride.places-overall' | translate }}</label>
                                <input id="placesOverall" type="number" ng-model="ride.placesOverall" name="placesOverall" class="form-control"
                                       translate translate-attr-placeholder="add-ride.example-places-overall" placeholder="Piemērs: 4">
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-12">
                            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-refresh spinning"></i>{{ 'add-ride.save' | translate }}</button>
                            <button type="button" class="btn" ng-click="cancel()">{{ 'add-ride.cancel' | translate }}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
<div ng-include="'/resources/partials/footer.html'"></div>