<main ng-controller="ChangePasswordCtrl">
    <header class="pure-g" ng-include="'/resources/partials/header.html'"></header>
    <div class="w-container">
        <tt-error-messages></tt-error-messages>
        <tt-success-messages></tt-success-messages>
        <div class="w-form">
            <form id="form" name="form" class="pure-form login-form" role="form" ng-submit="form.$valid && changePassword()">
                <fieldset class="pure-group">
                    <div class="col-md-4 col-md-offset-4">
                        <label for="oldPassword" class="control-label">Старый пароль</label>
                        <div class="form-group">
                            <input id="oldPassword" type="password" ng-model="oldPassword"
                                   name="oldPassword" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <label for="newPassword" class="control-label">Новый пароль</label>
                            <input id="newPassword" type="password" ng-model="newPassword"
                                   name="newPassword" class="form-control" ng-minlength="5" required>
                            <p class="help-block" ng-if="form.newPassword.$error.required">Parole ir obligāta</p>
                            <p class="help-block" ng-if="form.newPassword.$error.minlength">Vismaz 5 simboli</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group" show-errors='{showSuccess: true}'>
                            <label for="newPasswordRepeat" class="control-label">Повторить новый пароль</label>
                            <input id="newPasswordRepeat" type="password" ng-model="newPasswordRepeat" wj-validation-error="newPassword != newPasswordRepeat ? 'Passwords don\'t match' : ''"
                                   name="newPasswordRepeat" class="form-control" ng-minlength="5" required>
                            <p class="help-block" ng-if="form.newPasswordRepeat.$error.required">Parole ir obligāta</p>
                            <p class="help-block" ng-if="form.newPasswordRepeat.$error.minlength">Vismaz 5 simboli</p>
                            <p class="help-block" ng-if="form.newPasswordRepeat.$error.wjValidationError">Paroles nesakrīt</p>
                        </div>
                    </div>
                </fieldset>
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-primary offer-ride-button">Поменять пароль</button>
                    <button type="button" class="btn" ng-click="cancel()">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</main>
<div ng-include="'/resources/partials/footer.html'"></div>