<main ng-controller="EditProfileCtrl">
    <header class="pure-g" ng-include="'/resources/partials/header.html'"></header>
    <div class="w-container">
        <tt-error-messages></tt-error-messages>
        <tt-success-messages></tt-success-messages>
        <div class="w-form">
            <form novalidate name="form" ng-submit="editProfile()">
                <fieldset class="pure-group">
                    <div class="edit-profile-heading">
                        <h2>{{ 'edit-profile.edit-profile' | translate }}</h2>
                    </div>

                    <div class="w-row">
                        <div class="w-col w-col-6" ng-show="vm.registrationType=='PLAIN'">
                            <p><b>{{ 'edit-profile.username' | translate }}:</b> {{vm.userName}}</p>
                        </div>
                        <div class="w-col w-col-6" ng-hide="vm.registrationType=='DRAUGIEM'">
                            <p><b>{{ 'edit-profile.email' | translate }}:</b> {{vm.email}}</p>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label class="control-label">{{ 'edit-profile.name' | translate }}</label>
                                <input type="text" class="form-control" name="name" ng-model="vm.name"
                                       ng-disabled="(vm.registrationType=='FACEBOOK' || vm.registrationType=='DRAUGIEM') && vm.name" required />
                                <p class="help-block" ng-if="form.name.$error.required">{{ 'edit-profile.name-is-mandatory' | translate }}</p>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label class="control-label">{{ 'edit-profile.surname' | translate }}</label>
                                <input type="text" class="form-control" name="surname" ng-model="vm.surname"
                                       ng-disabled="(vm.registrationType=='FACEBOOK' || vm.registrationType=='DRAUGIEM') && vm.surname" required />
                                <p class="help-block" ng-if="form.surname.$error.required">{{ 'edit-profile.surname-is-mandatory' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label class="control-label">{{ 'edit-profile.phone' | translate }}</label>
                                <input type="text" class="form-control" name="phone" ng-model="vm.phone" required />
                                <p class="help-block" ng-if="form.phone.$error.required">{{ 'edit-profile.phone-is-mandatory' | translate }}</p>
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group" show-errors>
                                <label class="control-label ">{{ 'edit-profile.birthday' | translate }}</label>
                                <table class="birthday-input-table">
                                    <tr>
                                        <td>
                                            <select id="day" name="day"
                                                    ng-model="vm.day"
                                                    ng-options="day for day in days" class="form-control"
                                                    ng-disabled="vm.registrationType=='DRAUGIEM'"
                                                    ng-blur="check()"
                                                    ng-focus="focus()">
                                                <option value="">--</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="month" name="month"
                                                    ng-model="vm.month"
                                                    ng-options="month.value as month.text for month in months" class="form-control"
                                                    ng-disabled="vm.registrationType=='DRAUGIEM'"
                                                    ng-blur="check()"
                                                    ng-focus="focus()">
                                                <option value="">--</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="year" name="year"
                                                    ng-model="vm.year"
                                                    ng-options="year for year in years" class="form-control"
                                                    ng-disabled="vm.registrationType=='DRAUGIEM'"
                                                    ng-blur="check()"
                                                    ng-focus="focus()">
                                                <option value="">--</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <p class="help-block" ng-show="form.day.$error.completeBirthday">{{ 'edit-profile.birthday-is-mandatory' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-12">
                            <div class="form-group">
                                <label for="aboutMe" class="control-label ">{{ 'edit-profile.about-me' | translate }}</label>
                                <textarea id="aboutMe" ng-model="vm.aboutMe" name="aboutMe" class="form-control ng-pristine ng-untouched ng-valid ng-empty" translate translate-attr-placeholder="edit-profile.i-often-drive" placeholder="Piemērs: Es bieži braucu no Rīgas us Cēsīm un atpakaļ."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-6">
                            <div class="form-group">
                                <label for="car" class="control-label">{{ 'edit-profile.car' | translate }}</label>
                                <input id="car" name="car" type="text" class="form-control" translate translate-attr-placeholder="edit-profile.example-car" placeholder="Piemērs: Audi A6" ng-model="vm.car">
                            </div>
                        </div>
                        <div class="w-col w-col-6">
                            <div class="form-group">
                                <label for="carRegNumber" class="control-label ">{{ 'edit-profile.car-reg-number' | translate }}</label>
                                <input id="carRegNumber" type="text" class="form-control" ng-model="vm.carRegNumber" name="carRegNumber" translate translate-attr-placeholder="edit-profile.example-reg-number" placeholder="Piemērs: AB-1234">
                            </div>
                        </div>
                    </div>
                    <div class="w-row">
                        <div class="w-col w-col-12">
                            <button type="submit" ng-click="form.$setSubmitted();" class="btn btn-primary"><i class="glyphicon glyphicon-refresh spinning"></i>{{ 'edit-profile.save' | translate }}</button>
                            <button type="button" class="btn" ng-click="cancel()">{{ 'edit-profile.cancel' | translate }}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
<div ng-include="'/resources/partials/footer.html'"></div>