<div class="footer">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-8">
                <div class="footer-link-main">CeļoKopā.lv</div>
                <div class="footerlink">О проекте</div>
                <div class="footerlink">Пользовательское соглашение</div>
                <div class="footerlink">Контакт</div>
                <div class="copyright">© 2017</div>
            </div>
            <div class="w-col w-col-4">
                <div class="social-row w-row">
                    <div class="w-col w-col-3"></div>
                    <div class="w-col w-col-3"><img class="social-image" src="/resources/img/facebook.png">
                    </div>
                    <div class="w-col w-col-3"><img class="social-image" src="/resources/img/draugiem.png">
                    </div>
                    <div class="w-col w-col-3"><img class="social-image" src="/resources/img/twitter.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>