<main ng-controller="MyRidesCtrl">
    <header class="pure-g" ng-include="'/resources/partials/header.html'"></header>
    <div class="w-container">
        <tt-error-messages></tt-error-messages>
        <tt-success-messages></tt-success-messages>
        <div class="alert alert-info" role="alert" ng-hide="vm.myRides.length > 0">
            {{ 'my-rides.no-rides' | translate }}
        </div>
        <div class="table-container" ng-show="vm.myRides.length > 0">
            <table class="tablesaw" data-tablesaw-mode="stack" tablesawrender>
                <thead>
                    <tr>
                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col>{{ 'my-rides.title' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.from' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.to' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.departure' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.arrival' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.comment' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.price' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.car-reg-number' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.free-places' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col>{{ 'my-rides.places-overall' | translate }}</th>
                        <th scope="col" data-tablesaw-sortable-col></th>
                        <th scope="col" data-tablesaw-sortable-col></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ride in vm.myRides">
                        <td>
                            {{ride.title}}
                        </td>
                        <td>
                            {{ride.driveFrom}}{{ride.fromAddress ? "," : ""}} {{ride.fromAddress}}
                        </td>
                        <td>
                            {{ride.driveTo}}{{ride.toAddress ? "," : ""}} {{ride.toAddress}}
                        </td>
                        <td>
                            {{ride.departureTime}}
                        </td>
                        <td>
                            {{ride.arrivalTime}}
                        </td>
                        <td>
                            {{ride.text}}
                        </td>
                        <td>
                            {{ride.price}}
                        </td>
                        <td>
                            {{ride.carRegNumber}}
                        </td>
                        <td>
                            {{ride.placesLeft}}
                        </td>
                        <td>
                            {{ride.placesOverall}}
                        </td>
                        <td>
                            <a href="/edit-ride/{{ride.id}}">{{ 'my-rides.edit' | translate }}</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="open(ride.id)">{{ 'my-rides.delete' | translate }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="/add-ride">{{ 'my-rides.offer-new-ride' | translate }}</a>
    </div>
</main>
<div ng-include="'/resources/partials/footer.html'"></div>